*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
box-sizing: border-box;
background-color: black;
}
h1{
  text-align: center;
  padding: 20px 0px;
  font-size: 40px;
  color: blue;
}
button{
  padding: 5px 15px;
  margin: 20px;
  background-color: white;
  font-size: 30px;
  border: none;
  border-radius: 15px;
  color: black;
  text-align: center;
}